html{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
figure{
    margin: 0;
    padding: 0;
}
figcaption{
    background-color: lightblue;
    color: black;
}
img{
    width: 100%;
}
body{
    padding: 0;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
}