* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
}
#encabezado{
    position:sticky;
    top: 0;
    left: 0px;
    height: 250px;
    width: 100%;
    background-image:url(/Imgs/NavePadel.jpg);
    object-position: bottom;
    border-radius: 0 0 10px 10px ;
}
h1{
    text-align: center;
    opacity: 100%;
}
h2{
    color: rgb(95, 95, 95);
    font-size: 21px;
}
.espacio{
    margin-left: 20px;
    margin-right: 20px;
}
#UN{
    color: black;
}
ul{
    text-align: center;
    overflow: hidden;
    margin-left:10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    border: 1px solid black;
    font-size: 30px;
}
li{
    vertical-align: center;
    font-size: 23px;
    width: 25%;
    height: 50px;
    border: solid blue 2px;
    overflow: hidden;
    float: left;
    font-family: Sans-Serif;
    background-color: aliceblue;
    opacity: 70%;
}
grid > li{
    grid-template-columns: auto auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0;
    font-size: 30px;
    display: flex;
    flex-wrap:wrap;
}
.active {
    font-family:'Times New Roman', Times, serif;
    background-color:khaki;
}
body{
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    width: 650px;
    margin: auto auto;
}
footer{
    background-color: khaki;
    text-align: center;
    margin: 0;
}

#botonInicio{
    position: absolute;
    border: solid black 1px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: cornflowerblue;
}
img{
    width: 100%;
    height: auto;
}
.fotosIndex{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    background-color: white;
    padding: 0;
}
.fotosIndex > div{
    background-color: rgb(231, 231, 231);
    text-align: left;
    padding: 0;
    font-size: 30px;
}
.LeerMas{
    background-color: rgb(107, 116, 126);
    color: white;
    border: 1px solid darkgray;
    border-radius: 20px;
    font-size: 18px;
}
.LeerMas:hover{
    background-color: rgb(107, 109, 106);
}
#formulario{
    margin-top: 20px;
    background-color: rgb(121, 172, 192);
    border-radius: 30px;
}
#formulario label{
    margin-left: 20px;
    border-bottom:1px black solid;
}
#formulario input{
    margin-left: 20px;
    border-radius: 5px;
}
#instalaciones{
    margin-top: 10px;
}
#descrip_isnt{
    border: solid rgb(165, 170, 163) 20px;
    background-color: rgb(165, 170, 163);
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    border-radius: 20px;
    margin-bottom: 50px;
}
.fotos_pistas{
    height: 350px;
    width: 450px;
    box-sizing: border-box;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 100px;
    border: solid black 4px;
    border-radius: 20px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 50%;
}
td{
    text-align: center;
    vertical-align: middle;
}
table{
    width: 80%;
}
.vacío{
    background-color: lightgray;
}
.ocupado{
    background-color: gray;
}
input[type="checkbox"]{
    border: 1px solid gray;
}
input[type="checkbox"]:hover{
    border: 1px solid black;
}
#dias{
    background-color: lightgray;
    color: rgb(95, 95, 95);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
#reservas{
    margin-top: 10px;
    margin-bottom: 10px;
}