* {
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
}
#encabezado{
    position:sticky;
    top: 0;
    left: 0px;
    height: 300px;
    width: 100%;
    background-image:url(/Imgs/NavePadel.jpg);
    object-position: bottom;
}
h1{
    text-align: center;
    opacity: 100%;
}
h2{
    color: rgb(95, 95, 95);
    font-size: 21px;
}
#UN{
    color: black;
}
ul{
    text-align: center;
    overflow: hidden;
    margin-left:10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    border: 1px solid black;
    font-size: 30px;
}
li{
    vertical-align: center;
    font-size: 23px;
    width: 20%;
    height: 50px;
    border: solid blue 2px;
    overflow: hidden;
    float: left;
    font-family: Sans-Serif;
    background-color: aliceblue;
    opacity: 70%;
}
grid > li{
    grid-template-columns: auto auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0;
    font-size: 30px;
}
.active {
    font-family:'Times New Roman', Times, serif;
    background-color:khaki;
}
body{
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    padding-left: 40px;
    padding-right: 40px;
}
footer{
    background-color: khaki;
    text-align: center;
    margin: 0;
}

#botonInicio{
    position: absolute;
    border: solid black 1px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    background-color: cornflowerblue;
}
img{
    width: 100%;
}
.fotosIndex{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    background-color: white;
    padding: 10px;
}
.fotosIndex > div{
    background-color: rgb(231, 231, 231);
    text-align: left;
    padding: 0;
    font-size: 30px;
}
.LeerMas{
    background-color: rgb(107, 116, 126);
    color: white;
    border: 1px solid darkgray;
    border-radius: 20px;
    font-size: 18px;
}
.LeerMas:hover{
    background-color: rgb(107, 109, 106);
}
#formulario{
    margin-top: 20px;
    background-color: papayawhip;
    border-radius: 30px;
}
#formulario label{
    margin-left: 20px;
    border-bottom:1px black solid;
}
#formulario input{
    margin-left: 20px;
    border-radius: 5px;
}
#instalaciones{
    background-color: lightskyblue;
    margin-top: 10px;
}
#descrip_isnt{
    background-color: lightblue;
    margin-left: 30%;
    margin-right: 30%;
}
.fotos_pistas{
    height: 400px;
    width: 500px;
    box-sizing: border-box;
    align-items: center;
    margin-left: 10%;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 80%;
}
#vacío{
    background-color: lightgray;
}
#vacío:hover{
    background-color: gray;

}
