html{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
body{
    padding: 0;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 100%;
  height: auto;
}
#encabezado{
    position: fixed;
    top: -20px;
    height: 80px;
    width: 100%;
    opacity: 50%;
}
ul{
    text-align: center;
    padding: 0;
    overflow: hidden;
    margin-left:25%;
    margin-right: 25%;
}
li{
    vertical-align: center;
    font-size: 23px;
    width: 170px;
    height: 50px;
    border: solid blue 2px;
    overflow: hidden;
    float: left;
    font-family: Sans-Serif;
}
div.fotosIndex{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
div.fotosIndex:hover{
    border: 1px solid #777;
}
div.fotosIndex img{
    width: 100%;
    height: auto;
}
div.textoIndex{
    padding: 15px;
    text-align: center;
}

